doctype html  
html(lang='en')  
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title Digital Representative Server
    
    link(href="https://fonts.googleapis.com/css?family=Fira+Mono|Open+Sans" rel="stylesheet")
    style
      include style.css
  body
    div(style="max-width: 48rem; margin: auto")
      h1(style="font-size: 2.4rem") Digital Representative Server
      
      nav
        a(href="index.html") home
        a(href="motivation.html") motivation
        a(href="authentication.html") authentication

      br

      block content

      footer(style="margin-top: 2rem; padding: 1rem 0; border-top: 1px solid black")
        span aljazerzen
        span(style="float: right") 2019
