body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, footer {
	font-weight: 800;
}

p {
	line-height: 1.7;
}

nav {
	margin: 0 -0.5rem;
}

nav a {
	padding: 0.5rem;
	margin: 0.5rem;
	border-bottom: 2px solid black;
	text-decoration: none;
	color: black;
}

li {
	margin: 0.375em auto
}

blockquote {
	background: #ddd;
	margin: 0;
	padding: 1px 2em 1px 2em;
}